body {
    margin: 0;
}
.container {
    background-image: url("./images/manions-2.jpg");
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container .sub-container {
    margin: 0;
}

/* Header start here  */
.container .header{
    padding: 2rem;
    width: 560px;
    
}

.container .header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding: 2rem;
    /* border: 1px solid #fff; */
    margin: 0 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 91%);
    transition: 0.3s;
    text-transform: uppercase;
    color: cornsilk;
    font-family: sans-serif;
}

.container .header h1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* form start here */

.container .form {
    width: 560px;
    margin: 0rem 2rem;
    padding: 1rem;
}

.container .form .input-field {
    margin: 2rem;
    overflow: auto;
}

.container .form .input-field input {
    margin: 0;
    padding: 2rem;
    width: 395px;
    border: 2px solid lightsalmon;
    border-radius: 20px;
}
.container .form .input-field input::placeholder {
    font-size: 0.9rem;
    
    
}

.container .form .input-field input:focus-within{
    outline: none;
}

.container .form .input-field input:focus {
    border:2px solid black;
}

.container .form .input-field label {
    color: #f0e90e;
    font-weight: bold;
    font-size: 1.2rem;
}

.container .form .btn-field {
    margin: 0 2rem;
}

.container .form .btn-field button {
    padding: 1rem 2rem;
    background-color: tan;
    border-radius: 10px;
    color: #31084a;
    font-weight: bold;
    font-size: 1.1rem;
}

/* footer started here */
.container .footer {
    margin: 0 0 0 0;
    position: relative;
    top: 0px;
 }
 
 .container .footer .footer-list {
    display: flex;
    margin:0 2rem;
 }
 
 .container .footer .footer-list .list-item {
    list-style-type: none;
 }
 
 .container .footer .footer-list .list-item a i {
    margin: 0 2rem;
    font-size: 2rem;
    color:rgb(255 212 0);
 }
 
 .container .footer .footer-list .list-item a i:hover{
    color:rgb(196, 144, 34);
 }


 @media (max-Width:768px) {
     .container {
        width: 390px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('./images/small-minions.jpg');
        height:100%;
     }
     .container .header {
        width: 250px;
        padding: 1rem;
        margin: 0 3rem;
     }
     .container .header h1 {
        padding: 1rem;
        margin: 0 0.5rem;
        font-size: 1rem;
     }

     .container .form {
        width: 250px;
        margin: 0 5rem;
     }

     .container .form .input-field {
        margin: 1rem;
     }
     .container .form .input-field label {
        font-size: 0.7rem;
     }
     .container .form .input-field input {
        width: 100px;
        padding: 1rem;
        border-radius: 10px;
     }
     .container .form .btn-field {
        margin: 0 2rem;
     }
     .container .form .btn-field button {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
        border-radius: 5px;
     }

     .container .footer {
        top: -4px;
     }
     .container .footer .footer-list {
        margin: 0 -3rem;
     }
     .container .footer .footer-list .list-item  a i{
         color:rgb(239 0 255);
     }


     
 }
 
 